# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text charset=utf-8
*.csproj text charset=utf-8
*.props text charset=utf-8
*.targets text charset=utf-8

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf charset=utf-8

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary